---
// src/components/sections/HeroSection.astro

// Import the image (recommended for local images in Astro)
import ConsultButton from '../ui/ConsultButton.astro';

---

<section class="bg-gray-200">
  <div class="container grid-cols-1 md:pt-[150px] md:pb-[150px] pb-[55px]  pt-[80px] px-5 mx-auto max-w-screen-xl md:grid-cols-2 gap-x-8 grid items-center">
    <!-- Text Content -->
    <div class="col-span-1 flex sm:px-[0] px-[30px] flex-col custom-row-gap mb-5 md:mb-0 md:pr-10 text-center md:text-left">
      <h1 class="md:text-[19px] text-[18px] font-[600] tracking-[-0.5px] text-title">
        Hébergement web Maroc
      </h1>
      <h2 class="big-title leading-[49px] font-[600] text-title">
        Hébergement web depuis le Maroc
      </h2>

     
       <ConsultButton href="#plans" />
      
      <div class="flex flex-col md:items-start items-center">
        <p class="text-title text-[13px] font-[500] py-[5px] mb-[10px] tracking-[1.2px]">
          CONSULTATION PAR EMAIL ?
        </p>
        <p class="border-bottom text-[31px] font-[600] text-title">
          info@hostino.com
        </p>
      </div>
    </div>

    <!-- Hero Image -->
    <div class="col-span-1 flex z-10 justify-center">
      <div class="relative w-full">
        <img
          src="/images/01/hebergement-web-maroc.webp"
          alt="Hébergement web Maroc"
          fetchpriority=high
          width={1300}
          height={977}
          loading="eager"
          class="w-full h-full  p-[25px] md:scale-100 lg:scale-100 rounded-lg"
        />
      </div>
    </div>
  </div>
</section>