---
import AnimatedButton from "../ui/AnimatedButton.astro";


---

<div class="flex w-full relative lg:mt-[150px] mt-[60px] mb-[20px]">
  <div class="container">
    <div class="lg:w-[75%] w-[100%] mx-auto flex gap-[20px] justify-center md:flex-row flex-col">
     <div class="md:w-[50%] w-[100%] bg-white shadow_main flex flex-col justify-center text-center rounded-[10px]  py-[40px] px-[30px]">
      <h3 class="md:text-[29px] sm:text-[33px] text-[35px] text-title mb-[20px] poppins-semibold  sm:leading-[33px] tracking-[-1.8px] sm:tracking-[-1.5px]">
        Cloud
        <br /> VPS Maroc
      </h3>
      <p class="paragraph-15 mb-[20px]">
        Solution de <b>Cloud VPS souverain,</b> ultra-performante et
        évolutive, pour héberger vos données, sites, applications et autres
        systèmes nécessitant des ressources importantes.
      </p>
      <a href="#vps" class="text-white bg-title">
        <AnimatedButton
          text="Découvrir nos offres"
          hoverText="Découvrir nos offres"
          bgColor="bg-title"
          hoverBgColor="bg-title"
          textColor="text-white"
          class="py-[12px] w-full text-[17px] poppins-semibold "
        />
      </a>
      </div>

     <div class="md:w-[50%] w-[100%] bg-white border border-primary flex flex-col justify-center text-center rounded-[10px]  py-[40px] px-[30px]">
      <h3 class="md:text-[29px] sm:text-[33px] text-[35px] text-title mb-[20px] poppins-semibold  sm:leading-[33px] tracking-[-1.8px] sm:tracking-[-1.5px]">
        Hébergement
        <br /> Mutualisé Maroc
      </h3>
      <p class="paragraph-15 mb-[20px]">
        Solution <b>économique</b> pour héberger votre site web sur un
        serveur mutualisé <b>dans un datacenter au Maroc</b>, garantissant
        la souveraineté et la confidentialité des données sensibles.
      </p>
      <a href="#plans" class="text-white bg-primary">
        <AnimatedButton
          text="Découvrir nos offres"
          hoverText="Découvrir nos offres"
          bgColor="bg-primary"
          hoverBgColor="bg-title"
          textColor="text-white"
          class="py-[12px] w-full text-[17px] poppins-semibold "
        />
      </a>
    </div>
    </div>
  </div>
</div>

