---
import ConsultButton from "../ui/ConsultButton.astro";

interface Props {}

const {} = Astro.props;
---

<section class="lg:py-[150px] py-[80px] bg-gray-200">
    <div class="contianer flex text-center flex-col items-center justify-center gap-y-4">
        <h2 class="max-big-title lg:px-[0] lg:leading-[59px] md:leading-[54px] leading-[50px] px-[30px]">
            Confiez à notre agence SEO<br class="lg:block hidden"/> la mission de faire réussir votre business
        </h2>
        <p class="paragraph lg:px-[0] px-[30px]">Envie d'en savoir plus sur notre agence et nos experts ? Discutons de votre projet et trouvons des solutions adaptées !</p>
        <ConsultButton href="/contact" text="Contactez-nous" />
    </div>
</section>

