---
interface Props {
  page: string;
}

const { page , map=false , title} = Astro.props;

const moroccanCities = [
  "Tanger",
  "Tétouan",
  "Larache",
  "Asilah",
  "Chefchaouen",
  "Ksar El Kébir",
  "Ouezzane",
  "Al Hoceïma",
  "Fès",
  "Meknès",
  "Séfrou",
  "Taza",
  "Taounate",
  "Khémisset",
  "Rabat",
  "Kénitra",
  "Sidi Kacem",
  "Sidi Slimane",
  "Casablanca",
  "Mohammédia",
  "El Jadida",
  "Khénifra",
  "Béni Mellal",
  "Khouribga",
  "Ifrane",
  "Marrakech",
  "Essaouira",
  "Benguerir",
];
---

<section class="lg:my-[150px] my-[80px] ">
  <div class="container mx-auto">
    <h2 class="title-section lg:w-[40%] md:w-[60%] sm:w-[70%] w-[90%] font-[600] text-title mb-8 "
        set:html={title ? title : `Service <br> de proximité`}
    />
      
    <div class="flex flex-wrap gap-1">
      {moroccanCities.map((city) => {
        const formattedCity = city.toLowerCase().replace(/\s+/g, "-");
        return (
          <a
            key={city}
            href={`https://www.hostino.ma/${page}-${formattedCity}`}
            class="py-[2.5px] px-[4px] border border-gray-400 text-[16px] text-title"
          >
            {city}
          </a>
        );
      })}
    </div>

   {
    map && (
      <>
           <div class="w-[100%] mt-[30px]">
              <iframe title="Google map of Ville" class="wwwhostinoma-map" width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Tanger&amp;zoom=14&amp;maptype=roadmap&amp;key=AIzaSyCNTEOso0tZG6YMSJFoaJEY5Th1stEWrJI" referrerpolicy="no-referrer-when-downgrade" allowfullscreen=""></iframe>
            </div>
      </>
    )
   }
  </div>
</section>

