---
interface Props {
  classNameImage?: string;
}

const { classNameImage = "" , className="" , text =
`<b>Hostino®</b>, partenaire de confiance d'un vaste réseau d'entreprises et d'institutions au Maroc.` } = Astro.props;
---

<section class={`${className} bg-white`}>
  <div class="container text-center">
    <p class="text-title poppins-regular text-[17px] mb-[20px]" set:html={text} />
    <div class="flex justify-center">
      <img
        src="/images/01/references-hebergement-maroc.png"
        alt="Réferences hébergement web maroc"
        width="2048"
        height="107"
        loading="eager"
        class={`${classNameImage}  brightness`}
      />
    </div>
  </div>
</section>

