---
// src/pages/404.astro
import Layout from "../layouts/Layout.astro";

---

 



<Layout >


<main>
  <section class="bg-gray-200">
    <div class="container flex justify-center items-center h-[600px] ">
       <div class="text-center sm:px-[0] px-[30px]">
                <h1 class=" sm:text-[120px]  sm:leading-[0.875em] leading-[85px] text-[90px]  poppins-bold text-primary"
                        style={{
                            lineHeight: "initial"
                        }}
                >404</h1>
                <h3 class="text-[27px] leading-[1.25em] poppins-semibold  text-title">Cette page est introuvable.</h3>
   
    <a
      href="/"
      class="inline-flex items-center gap-2 mt-[20px] px-4 py-2 text-white bg-primary rounded-lg hover:bg-primary/90 transition"
    >
        Retour à l’accueil
    </a>
       </div>
    </div>
  </section>
</main>

</Layout>

