---
---

<section class="lg:my-[150px] my-[80px]">
  <div class="container mx-auto">
    <div class="grid md:grid-cols-2 gap-12 items-center">
      <div>
        <h2 class="big-title mb-6 font-semibold text-title">What is Web Hosting ?</h2>
        <div class="paragraph space-y-4">
          <p>
            Web hosting is a service that makes your website available online. A hosting provider, like Hostino™, offers a secure space to store your website's files and databases, including the code, images, text, and other content. All you need, in addition to your domain, is a hosting plan to make your site live and accessible to everyone.
          </p>
          <p>To make your website online, you'll typically need:</p>
          <ol class="list-decimal list-inside space-y-2 ml-4">
            <li>1
              <strong>
                .A <a href="https://www.hostino.ma/en/ma-domain-name" class="underline">domain name</a>:
              </strong>{" "}
              This is the address people will type into their browser to find your site.
            </li>
            <li>
             2.
              <strong>
                <span class="underline">
                  <a href="#plans">A hosting plan</a>
                </span>
              </strong>
              : This provides the server space to store your website's files.
            </li>
            <li>
              3.<strong>Website content:</strong> This includes the design, text, images, and any other elements that make up your website.
            </li>
          </ol>
          <p>
            Once you have these three components in place, you can connect your domain name to your hosting plan and upload your website's files to the server. Your website will then be accessible to anyone with an internet connection.
          </p>
        </div>
      </div>
      <div>
        <img
          src="https://www.hostino.ma/en/wp-content/uploads/2024/10/web-hosting.jpg"
          alt="What is Web Hosting?"
          width={1484}
          height={1243}
          loading="lazy"
          class="w-full h-auto rounded-lg"
        />
      </div>
    </div>
  </div>
</section>

