---
import "../styles/global.css";
import Header from "../components/layout/Header.astro"
import Footer from "../components/layout/Footer.astro"
import { SEO } from "astro-seo";

interface Props {
  title?: string;
  description?: string;
  canonical?: string;
  ogImage?: string;
  ogAlt?: string;
}

const {
  title = "A Very Descriptive Title",
  description = "A heavily optimized description full of well-researched keywords.",
  canonical = "",
  ogImage = "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
  ogAlt = "A Very Descriptive Title"
} = Astro.props;

---
<!doctype html >
<html lang="fr-MA">
	<head>
		<meta charset="UTF-8">
		<SEO
      title={title}
      description={description}
      canonical={canonical}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: ogImage,
        }
      }}
      twitter={{
        creator: "@jonasmerlins1"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: ogImage,
          },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
        ],
      }}
    />
	</head>
	<body>
	<Header />
		<slot />
    <Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
