---
interface Props {
  smallTitle?: string;
  bigTitle: string | TrustedHTML;
  lineGreen?: boolean;
  className?: string;
  classTitle?: string
}

const { smallTitle, bigTitle, lineGreen = false, className , classTitle} = Astro.props;
---

<div
  class={`${className ? className : "pb-[20px]"} col-span-1 flex md:pt-[100px] pt-[80px] flex-col bg-gray-200 custom-row-gap md:mb-0  text-center md:text-left`}
>
  <div class="flex flex-col gap-[20px]">
    {smallTitle && (
      <h1 class="md:text-[19px] text-center text-[18px] font-[600] tracking-[-0.5px] text-title">
        {smallTitle}
      </h1>
    )}
    <div class=`${classTitle}`>
      <h2
        class="max-big-title title-hero-section title text-center font-[600] text-title"
        set:html={bigTitle as string}
      ></h2>
    </div>
    {lineGreen && (
      <div class="flex py-[10px] justify-center">
        <div class="lg:w-[8%] md:w-[17%] w-[12%] h-[5px] bg-primary"></div>
      </div>
    )}
  </div>
</div>

