---
interface Props {
  rating?: number;
  maxRating?: number;
  totalVotes?: number;
  starColor?: string;
}

const {
  rating = 5,
  maxRating = 5,
  totalVotes = 34,
  starColor = "#FFD700",
} = Astro.props;
---

<div class="flex justify-center mt-[2rem] items-center gap-4">
  <div class="flex gap-1">
    {[...Array(maxRating)].map((_, index) => {
      const filled = index < rating;
      return (
        <svg
          key={index}
          width="30"
          height="30"
          viewBox="0 0 24 24"
          fill={filled ? "#feff05" : "none"}
          stroke={filled ? "#FFD700" : "#D1D5DB"}
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
        </svg>
      );
    })}
  </div>

  <div class="text-[20px] font-[600] text-title">
    {rating}/{maxRating} - ({totalVotes} votes)
  </div>
</div>

